@model BibliotecaOnline.Models.Emprestimo
@{
    ViewBag.Title = "Devoluções ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/adminlte/components/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#salvar').attr('disabled', 'disabled');

        var codigoBarras = "";

        $('#form').on('keyup keypress', function (e) {
            var keyCode = e.keyCode || e.which;
            if (keyCode === 13) {
                e.preventDefault();
                return false;
            }
        });
        $("#CodigoDeBarras").on("keyup", function (e) {
            e.preventDefault();
            var keyCode = e.keyCode || e.which;

            if (keyCode === 13) {
                codigoBarras = $("#CodigoDeBarras").val();
                var existe = 0;
                $('#table tr').each(function () {
                    var _codigoBarras = $(this).find("td").eq(1).text();
                    if (_codigoBarras == codigoBarras && codigoBarras != "") {
                        existe = 1;
                        alert("Código de Barras: " + codigoBarras + " ja inserido");
                    }
                });

                if (existe == 0) {
                    VerificarCodigoDeBarras();
                }
            }
        });

        $('#table').on('click', ".remove", function () {
            $(this).closest('tr').remove();

            var rowCount = $('#table tbody tr td').length;
            if (rowCount < 1) {
                $('#salvar').attr('disabled', 'disabled');
            } else {
                $('#salvar').removeAttr('disabled');
            }
            console.log(rowCount);
        });

        $("#inserir").click(function () {
              codigoBarras = $("#CodigoDeBarras").val();
            var existe = 0;
            $('#table tr').each(function () {
                  _codigoBarras = $(this).find("td").eq(1).text();
                if (_codigoBarras == codigoBarras && codigoBarras != "") {
                    existe = 1;
                    alert("Código de Barras: " + codigoBarras + " ja inserido");
                }
            });
            if (existe == 0 && codigoBarras != "") {
                VerificarCodigoDeBarras();
            }
        });

        $("#salvar").click(function () {
            var dados_emprestimo = [];

            $('.item').each(function () {
                var entidade_exemplar = {
                    ExemplarId: $(this).children()[0].innerText,
                    CodigoDeBarras: $(this).children()[1].innerText
                };

                dados_emprestimo.push(entidade_exemplar);
            });

            enviarDados(dados_emprestimo);
        });


        function VerificarCodigoDeBarras() {
            codigoBarras = $("#CodigoDeBarras").val();
             $.ajax({
                        url: '@Url.Action("PesquisaCodigoDeBarras", "Devolucoes")',
                        dataType: 'json',
                        type: "POST",
                 cache: false,
                 data: { codigo: codigoBarras },
                        success: function (data) {
                            if (data.mensagem == "ok") {
                                var titulo = data.titulo;
                                var autor = data.autor;
                                var edicao = data.edicao;
                                var editora = data.editora;
                                var exemplarId = data.exemplarId;
                                $("#table tbody").append("<tr class='item'><td class='hide'>" + exemplarId + "</td><td>" + codigoBarras + "</td><td>" + titulo + "</td><td>" + autor + "</td><td>" + edicao + "</td><td>" + editora + "</td><td><a href='#' class = 'remove'>Remover</a></td></tr>");

                                $("#CodigoDeBarras").val("");
                                $('#salvar').removeAttr('disabled');
                            }
                            else {
                                alert(data.mensagem);
                            }
                        }
                    });
        }

        function enviarDados(dados_emprestimo) {
            var exemplars = JSON.stringify({ 'exemplars': dados_emprestimo });
            console.log(JSON.stringify( dados_emprestimo ));
            $.ajax({
                method: "POST",
                url: '@Url.Action("Create", "Devolucoes")',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: exemplars,
                success: function (data) {
                    if (data.mensagem == "ok") {
                        $('#salvar').attr('disabled', 'disabled');
                        var delay = 1000;
                        setTimeout(function () { window.location = '/Devolucoes/Index/'; }, delay);
                    }
                    else {
                        alert(data.mensagem);
                    }
           }
        });
        }
    });
</script>
@using (Html.BeginForm("Create", "Devolucoes", FormMethod.Post, new { @id = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                <br />
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>Devolução </a></li>
                <li><a href="#">Nova Devolução</a></li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- left column -->
                <div class="">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Devolução</h3>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <div class="form-group">
                                    <label>Código de Barras</label>
                                    <div class="input-group">
                                        <input type="text" id="CodigoDeBarras" name="CodigoDeBarras" class="form-control" placeholder="Código de Barras" autocomplete="off" />
                                        <span class="input-group-btn">
                                            <button type="button" id="inserir" class="btn btn-primary pull-right">Inserir</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Lista de livros</h3>
                    </div>
                    <hr />
                    <div class="div_">
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="form-group">
                                <table id="table" class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <th>
                                                Código de Barras
                                            </th>
                                            <th class="hide">
                                                ExemplarId
                                            </th>
                                            <th>
                                                Titulo
                                            </th>
                                            <th>
                                                Autor
                                            </th>
                                            <th>
                                                Edicao
                                            </th>
                                            <th>
                                                Editora
                                            </th>
                                            <th></th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="button" id="salvar" class="btn btn-primary pull-right">Salvar</button>
                        <a href="@Url.Action("Index", "Devolucoes")" class="btn btn-default">Voltar</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
}