
@{
    ViewBag.Title = "Início";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <br />
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Empréstimos</a></li>
            <li><a href="#">Novo Empréstimo</a></li>
        </ol>
    </section>
    <section class="content">
        <div class="">
            <div class="box-body">
                <div class="row">
                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">Pesquisar no acervo</h3>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <form method="post">
                                    <div class="input-group">
                                        <input type="text" name="ConsultaExemplar" class="form-control" placeholder="Pesquise por título, autor, ano, código de barra...">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-primary">Pesquisar</button>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box-body">
                <div class="row">
                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">Resultados</h3>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Titulo + Edicao + Editora + Idioma+ Ano + Autor</th>
                                            <th>Setor</th>
                                            <th>Estante</th>
                                            <th>Campus</th>
                                            <th>Quanitdade</th>
                                            <th>Disponivel</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td>Titulo + Edicao + Editora + Idioma+ Ano + Autor</td>
                                            <td>Setor</td>
                                            <td>Estante</td>
                                            <td>Campus</td>
                                            <td>Quanitdade</td>
                                            <td>Disponivel</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="div_">
                    <!-- /.box-header -->
                    <div class="box-body">



                        <div class="form-group">

                            <table class="table table-bordered col-md-12">
                                <tbody>
                                    <tr>

                                        <th>Título</th>
                                        <th>Edição</th>
                                        <th>Autor</th>
                                        <th>Campus</th>
                                        <th>Setor</th>
                                        <th>Estante</th>
                                    </tr>

                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
