
@{
    ViewBag.Title = "Início";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <br />
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Empréstimos</a></li>
            <li><a href="#">Novo Empréstimo</a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Pesquisa acervo</h3>

                </div>
                <div class="div_">
                    <!-- /.box-header -->
                    <div class="box-body">

                        <div class="form-group">
                            <form method="post">
                                <div class="input-group">
                                    <input type="text" name="ConsultaExemplar" class="form-control" placeholder="Busque por título, autor, ano, código de barra...">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-primary">Pesquisar</button>




                                    </div>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Resultados</h3>

                </div>
                <div class="div_">
                    <!-- /.box-header -->
                    <div class="box-body">



                        <div class="form-group">

                            <table class="table table-bordered col-md-12">
                                <tbody>
                                    <tr>

                                        <th>Título</th>
                                        <th>Edição</th>
                                        <th>Autor</th>
                                        <th>Campus</th>
                                        <th>Setor</th>
                                        <th>Estante</th>
                                    </tr>

                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>
            </div>
        </div>


</div>







